body {
  background: #FFFFFF;
}
h1 {
  text-align: center;
}
.caixa1 {
    position: absolute;
    background: #336666;
    color: #FFFFFF;
    width: 200px;
    height: 200px;
    right: 0;
    top: 0;
}
