body {
  background: #FFFFFF;
}
h1 {
  text-align: center;
}
.caixa1 {
    position: absolute;
    background: #336666;
    color: #FFFFFF;
    width: 200px;
    height: 200px;
    right: 0;
    bottom: 0;
}

.caixa2 {
    position: absolute;
    background: red;
    color: #FFFFFF;
    width: 200px;
    height: 200px;
    right: 205px;
    bottom: 0;
}

.caixa3 {
    position: absolute;
    background: green;
    color: #FFFFFF;
    width: 200px;
    height: 200px;
    right: 0;
    bottom: 205px;
}
.menuPrincipal {
   position: absolute;
   background: rgb(85, 143, 78);
   width: 100%;
   height: 45px;
   top: 0;
   left: 0;
   color: rgb(255, 255, 255);
}
nav ul {
   list-style-type: none;
   margin: 0;
   padding: 0;
   overflow: 0;
}
li {
  float: left;
}
li a {
  display: block;
  color: #FFFFFF;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-family: 'Courier New', Courier, monospace;
}
li a:hover {
  background: rgb(163, 224, 216);
  color: black;
}
#aviao {
   width: 20%;
}
.caixaAviao {
   position: absolute;
   top: 50px;
   left: 0;
   width: 90%;
   height: 150px;
   background:rgb(218, 219, 150);
   margin: 20px;
   border-color: rgb(43, 226, 104);
   border-width: 20px;
   border-style: solid;
   padding: 20px;
}